@import "tailwindcss";

@theme {
  --color-background: #ffffff; /* White */
  --color-foreground: #000000; /* Black */

  --color-primary: #9a4562;
  --color-primary-foreground: #ffffff;

  --color-secondary: #16a34a; /* Green */
  --color-secondary-foreground: #ffffff; /* White */

  --color-tertiary: #1f2937; /* Dark Gray/Slate */
  --color-tertiary-foreground: #ffffff; /* White */

  --color-accent: #f8efe8;
  --color-accent-foreground: #556042;

  --color-muted: #9ca3af; /* Light Gray */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.container {
  @apply px-8 lg:px-6;
}

.blog-post h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl [&:not(:first-child)]:mt-6;
}

.blog-post h2 {
  @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight [&:not(:first-child)]:mt-6;
}

.blog-post h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight [&:not(:first-child)]:mt-6;
}

.blog-post h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight [&:not(:first-child)]:mt-6;
}

.blog-post p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}

.blog-post blockquote {
  @apply mt-6 border-l-2 pl-6 italic [&:not(:first-child)]:mt-6;
}

.blog-post ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

.blog-post a {
  @apply underline;
}
