@import "tailwindcss";

@theme {
  --color-background: #ffffff; /* White */
  --color-foreground: #000000; /* Black */
  --color-primary: #ec4899; /* Pink/Rose */
  --color-primary-foreground: #ffffff; /* White */
  --color-secondary: #16a34a; /* Green */
  --color-secondary-foreground: #ffffff; /* White */
  --color-tertiary: #1f2937; /* Dark Gray/Slate */
  --color-tertiary-foreground: #ffffff; /* White */
  --color-accent: #fce7f3; /* Light Pink */
  --color-accent-foreground: #1f2937; /* Dark Gray/Slate */
  --color-muted: #9ca3af; /* Light Gray */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
